html, body, .full-height, .CodeMirror {
    height: 100%;
}

body, .CodeMirror {
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

body {
    margin: 0;
    display: flex;
    justify-content: space-around;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
}

button:focus {
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}


/* ------------------------------------------------------------------------------- */


#sandbox {
    flex-grow: 1;
}

#app-container {
    padding-left: 10px;
    background-color: rgb(83,127,126);
    cursor: col-resize;
}

#app {
    cursor: default;
}


/* ------------------------------------------------------------------------------- */


#log {
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #F77669;
    font-size: 0.7em;
    pointer-events: auto;
}


/* ------------------------------------------------------------------------------- */


#controls {
    z-index: 4;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 20px);
    align-items: flex-end;
    pointer-events: none;
}

#controls button {
    background-color: #DECB6B;
    color: #263238;
    padding: 5px 7px;
    border-radius: 5px;
    pointer-events: auto;
}

.control-group { 
    display: flex; 
    flex-shrink: 0;
}
.control-group > * { margin: 0 5px; }

#controls button > span { margin: 0 2px; }

.toggle > .on { color: #82B1FF; }
.toggle > .off { color: #F77669; }

