/* ------- z-indices -------

0 - .CodeMirror-linebackground

1 - .cm-fat-cursor div.CodeMirror-cursors

2 - .CodeMirror pre
    .CodeMirror-linewidget

3 - .CodeMirror-gutters
    div.CodeMirror-cursors

4 - .CodeMirror-gutter-wrapper
    .CodeMirror-gutter-background
    .CodeMirror-gutter-elt
    
6 - .CodeMirror-vscrollbar 
    .CodeMirror-hscrollbar 
    .CodeMirror-scrollbar-filler 
    .CodeMirror-gutter-filler

7 - #controls

8 - #overlay-mount 

---------------------------- */

html, body, .full-height, .CodeMirror {
    height: 100%;
}

body, .CodeMirror {
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

body {
    margin: 0;
}

button {
    transition: border-width, 0.05s;
    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 4px solid rgba(0,0,0,0.75);
    border-right: 4px solid rgba(0,0,0,0.25);
    padding: 0;
    cursor: pointer;
    font: inherit;
}

button:active {
    border: 1px solid rgba(0,0,0,0.5);
    border-top: 4px solid rgba(0,0,0,0.75);
    border-left: 4px solid rgba(0,0,0,0.25);
}

button:focus {
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}


/* ------------------------------------------------------------------------------- */

#container {
    display: flex;
    justify-content: space-around;
}

#overlay-mount {
    position: absolute;
    z-index: 8;
}

#overlay {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.8);
}

#sandbox {
    flex-grow: 1;
}

#app-container {
    padding-left: 10px;
    background-color: rgb(83,127,126);
    cursor: col-resize;
}

#app {
    cursor: default;
}


/* ------------------------------------------------------------------------------- */


#log {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid;
    overflow: scroll;
    word-wrap: break-word;
    border-radius: 10px;
    transition: background-color 0.4s, max-height 0.4s;
    font-size: 0.7em;
    cursor: pointer;
    pointer-events: auto;
}

#log pre {
    margin: 0;
}

#log.small {
    max-height: 15px;
    background-color: #fff;
    color: #000;
    border-color: #000;
}

#log.large {
    max-height: 90vh;
    background-color: #000;
    color: #fff;
    border-color: #fff;
}


/* ------------------------------------------------------------------------------- */


#controls {
    z-index: 7;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 20px);
    align-items: flex-end;
    pointer-events: none;
}

#controls button {
    background-color: #DECB6B;
    color: #263238;
    padding: 5px 7px;
    border-radius: 5px;
    pointer-events: auto;
}

#controls .eval-btn {
    background-color: #E78DE8;
}

.control-group { 
    display: flex; 
    flex-shrink: 0;
}
.control-group > * { margin: 0 5px; }

#controls button > span { margin: 0 2px; }

.toggle > .on { color: #82B1FF; }
.toggle > .off { color: #F77669; }

